.container{
    position: absolute;
    top: 10%;
    left: 40%;
}
.number{
    height: 50px;
    border: 0.1px solid black;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 400px;
}

.grid-container-button {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}
button{
    background-color: white;
    border: 0.1px solid black;
    height: 100px; 
} 
button:hover:active{
    background-color: black;
    color: white;
}